
* {
  
  font-family: "Iosevka Nerd Font";
}

window#waybar {

  background-color: #191724;
  color: white;
  padding: 0;
  margin: 0;
}


.modules-left, .modules-center, .modules-right {

  background-color: #191724;
}

#workspaces {

  border-top: 1px solid #c4a7e7;
}

#workspaces button {

  border-radius: 0;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  padding-left: 5px;
  padding-left: 5px;
  background-color: #191724;
  color: #56949f;
}

#workspaces button.active {

  border-top: 1px solid #c4a7e7;
}

#mpris {

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}

#cpu, #memory, #disk {

  color: #e0def4;
  padding-right: 40px;
}

#pulseaudio {

  padding-right: 6px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 2px;
    min-width: 100px;
    border-radius: 3px;
    background-color: #575279;
}
#pulseaudio-slider highlight {
    min-width: 2px;
    border-radius: 3px;
    background-color: #c4a7e7;
}

#clock {

  opacity: 0.7;
  color: #797593;
  padding-left: 40px;
  padding-right: 25px;
}
